
body {background-color: rgb(95, 99, 125);}

h2 {
	font-family:"Impact";
	font-size: 2.0em;
	text-align: center;
	
}

h3 {
	font-family:"Impact";
	font-size: 2.0em;
	text-align: center;
}

h4 {
	font-family:"Impact";
	font-size: 1.8em;
	text-align: center;
}

ul, li {
	font-family:"Lucida Grande";
	font-size: 1.0em;

}
.columns {
	display: flex;
	flex-direction: column;

}